body {
  font-family: "Metal Mania";
}

header {
  background-color: #ffdca9;
  letter-spacing: 5px;
}

main {
  background-color: #fcf9be;
}

section {
  background-color: #faab78;
}

.melody-button {
  padding: 5px;
  font-size: 12px;
  background-color: #e8f3d6;
}

footer {
  background-color: #ffdca9;
}

@media (min-width: 600px) {
  body {
    cursor: pointer;
  }

  header {
    background-color: #a084dc;
  }

  main {
    background-color: #ebc7e6;
  }

  section {
    background-color: #645cbb;
  }

  .melody-button {
    padding: 5px;
    font-size: 12px;
    background-color: #bface2;
  }

  footer {
    background-color: #a084dc;
  }
}
