@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Neucha&display=swap");

body {
  --mostaza: #ffcc32;
  --pizarra: #1e1e24;
  font-family: "Neucha", Impact, sans-serif;
}

header {
  background-color: var(--pizarra);
  letter-spacing: 10px;
}

header h1 {
  color: var(--mostaza);
  font-family: "East Sea Dokdo", Impact, sans-serif;
  font-size: 3.5rem;
}

main {
  background-color: var(--mostaza);
}

/* usar TECLADO */

.tecla {
  background-color: white;
  padding: 0.3rem;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 3px var(--pizarra);
  font-family: "East Sea Dokdo", Impact, sans-serif;
  font-size: 1rem;
}

/* BOTONES */

#teclado,
#comenzar {
  background-color: white;
  font-family: "East Sea Dokdo", Impact, sans-serif;
  font-size: 15px;
  padding: 0.1rem 0.1rem;
  transition: all 0.2s ease;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 4px var(--pizarra);
  color: var(--pizarra);
}

#teclado:hover,
#comenzar:hover {
  box-shadow: none;
}

#teclado {
  font-size: 2.5rem;
}

footer {
  background-color: var(--pizarra);
  color: var(--mostaza);
}

/* Caja de INICIO */

.instrucciones div {
  background-color: var(--mostaza);
  padding: 2rem;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  font-size: 1rem;
}

.instrucciones h1,
.instrucciones p {
  color: var(--pizarra);
  font-weight: bold;
  margin-bottom: 1rem;
}

#comenzar {
  font-size: 2rem;
}

@media (min-width: 600px) {
  header {
    background-color: var(--mostaza);
  }

  header h1 {
    color: var(--pizarra);
    font-size: 4.5rem;
  }

  main {
    background-color: var(--pizarra);
  }

  section {
    background-color: var(--mostaza);
    cursor: url(cursor.png), auto;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  }

  .melody-button,
  .key-button {
    cursor: url(cursor.png), auto;
  }

  .tecla {
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  #teclado {
    font-size: 3rem;
  }

  footer {
    color: var(--mostaza);
  }
}
