@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Neucha&display=swap");

body {
  --mostaza: #ffcc32;
  --pizarra: #1e1e24;
  font-family: "Neucha", Impact, sans-serif;
}

header {
  background-color: var(--pizarra);
  letter-spacing: 10px;
}

header h1 {
  color: var(--mostaza);
  font-family: "East Sea Dokdo", Impact, sans-serif;
  font-size: 3.5rem;
}

main {
  background-color: var(--mostaza);
}

/* usar TECLADO */

.tecla {
  background-color: white;
  padding: 0.3rem;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 3px var(--pizarra);
  font-family: "East Sea Dokdo", Impact, sans-serif;
  font-size: 1rem;
}

/* BOTONES */

#grabar,
#reproducir,
#teclado,
#comenzar {
  background-color: white;
  font-family: "East Sea Dokdo", Impact, sans-serif;
  font-size: 15px;
  padding: 0.1rem 0.1rem;
  transition: all 0.2s ease;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 4px var(--pizarra);
  color: var(--pizarra);
}

#grabar:hover,
#reproducir:hover,
#teclado:hover,
#comenzar:hover {
  box-shadow: none;
}

footer {
  background-color: var(--pizarra);
  color: var(--mostaza);
}

/* Caja de INICIO */

.instrucciones div {
  background-color: var(--mostaza);
  padding: 2rem;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  font-size: 1rem;
}

.instrucciones h1,
.instrucciones p {
  color: var(--pizarra);
  font-weight: bold;
  margin-bottom: 1rem;
}

#comenzar {
  font-size: 2rem;
}

/* Animación GRABAR */

.recButton {
  width: 1rem;
  height: 1rem;
  font-size: 0;
  background-color: var(--pizarra);
  border: 0;
  border-radius: 35px;
  outline: none;
  float: right;
  margin-left: 0.5rem;
}

.notRec {
  background-color: var(--pizarra);
}

.Rec {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    background-color: var(--pizarra);
  }
  50% {
    background-color: rgb(255, 0, 0);
  }
  100% {
    background-color: var(--pizarra);
  }
}
/* Animación REPRODUCIR */

.repButton {
  width: 1rem;
  height: 1rem;
  font-size: 0;
  background-color: var(--pizarra);
  border: 0;
  border-radius: 35px;
  outline: none;
  float: right;
  margin-left: 0.5rem;
}

.notRep {
  background-color: var(--pizarra);
}

.Rep {
  animation-name: reproduciendo;
  animation-duration: 5s;
}

@keyframes reproduciendo {
  0% {
    background-color: rgb(77, 236, 77);
  }
  20% {
    background-color: rgb(77, 236, 77);
  }
}

@media (min-width: 600px) {
  header {
    background-color: var(--mostaza);
  }

  header h1 {
    color: var(--pizarra);
    font-size: 4.5rem;
  }

  main {
    background-color: var(--pizarra);
  }

  section {
    background-color: var(--mostaza);
    cursor: url(cursor.png), auto;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  }

  .melody-button,
  .rec-button,
  .rep-button,
  .key-button {
    cursor: url(cursor.png), auto;
  }

  .tecla {
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  #grabar,
  #reproducir,
  #teclado {
    font-size: 1.5rem;
  }

  footer {
    color: var(--mostaza);
  }
}
